.custom-card-img {
    width: 50%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }
  .back-icon{
      width: 20px;
      height: auto;
      cursor: pointer;
      /* transition: all 0.3s ease-in-out; */
      margin-top: 10px;
  }

  
