* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark-theme {
  background-color: #3a3a3a;
  color: #fff;
}
.light-theme {
  background-color: #fff;
  color: #111;
}
.Modebtn {
  padding: 15px 15px;
  font-size: 10px;
  background: linear-gradient(45deg, #a7979a, #2e2c2d);
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.Modebtn:hover {
  background: linear-gradient(45deg, #dad3d5, #1a1112);
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.Modebtn:active {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #111, #333);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
}
header a {
  text-decoration: none;
  color: white;
}
header h1 {
  font-size: 1.8rem;
  font-weight: bold;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  transition: all 0.3s ease;
  border-radius: 5px;
}
nav a:hover {
  background-color: #444;
  color: #fff;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  nav li {
    width: 100%;
  }

  nav a {
    display: block;
    width: 100%;
  }
}
